* {
    box-sizing: border-box;
}
h1, h2, h3, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
}

body {
    background-color: hsl(124, 89%, 78%);
    /* background-color: hsl(124, 67%, 50%); */
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid #000;
    min-height: 100vh;
}

section {
    background-color: #fff;
    border: 1px solid #000;
    min-height: 50%;
}

.container {
    display: flex;
    min-height: 500px;
    /* padding: 1rem; */
}

.col {
    border-right: 1px solid gray;
    flex: 1;
}

@media screen and (max-width: 669px) {
    
    /* first column will be not be displayed */ 
    .container > .col:nth-child(1) {
        display: none;
    }

}