
html {
    color-scheme: dark light;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.target {
    font-size: 2rem;
    background-color: palegoldenrod;
    transition: background-color 2s 500ms;
}
  
.active {
    background-color: darkorange;
}

.black {
    background-color: black;
}

.btnx {
    color: white;
}


button:hover {
    cursor: pointer;
}

button:active {
    background: white;
}

